.um-Button {
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: baseline;
    padding: 0;
    border-radius: 100px;
    flex-shrink: 0;
}

.um-Button.um-clickable {
    cursor: pointer;
}

.um-Button:focus-visible {
    outline: 0;
}

.um-Button_mode-outlined {
    background-color: var(--bg);
    border-color: var(--button_border-color);
}

.um-Button_mode-outlined:focus-visible,
.um-is-hovered .um-Button_mode-outlined:hover {
    border-color: var(--button_hover_border-color);
    background-color: var(--button-same_hover_color);
}

.um-Button_mode-outlined:active {
    border-color: var(--button_active_border-color);
    background-color: var(--button-same_active_color);
}

.um-Button_mode-filled {
    background-color: var(--button_color);
    border-color: var(--button_border-color);
}

.um-Button_mode-filled:focus-visible,
.um-is-hovered .um-Button_mode-filled:hover {
    border-color: var(--button_hover_border-color);
    background-color: var(--button_hover_color);
}

.um-Button_mode-filled:active {
    border-color: var(--button_active_border-color);
    background-color: var(--button_active_color);
}

.um-Button_style-readonly {
    --button_border-color: var(--unaccented_border_color);
    --button_hover_border-color: var(--unaccented_border_color);
    --button_active_border-color: var(--unaccented_border_color);
    --button_color: var(--unaccented_bg);
    --button_hover_color: var(--unaccented_bg);
    --button_active_color: var(--unaccented_bg);
    --button-same_hover_color: var(--bg);
    --button-same_active_color: var(--bg);
    --text_color: var(--unaccented_text_color);
    cursor: auto;
}

.um-Button_style-primary {
    --button_border-color: var(--primary_bg);
    --button_hover_border-color: var(--primary_hover_bg);
    --button_active_border-color: var(--primary_active_bg);
    --button_color: var(--primary_bg);
    --button_hover_color: var(--primary_hover_bg);
    --button_active_color: var(--primary_active_bg);
    --button-same_hover_color: var(--primary_same_hover_bg);
    --button-same_active_color: var(--primary_same_active_bg);
}

.um-Button_style-secondary {
    --button_border-color: var(--secondary_bg);
    --button_hover_border-color: var(--secondary_hover_bg);
    --button_active_border-color: var(--secondary_active_bg);
    --button_color: var(--secondary_bg);
    --button_hover_color: var(--secondary_hover_bg);
    --button_active_color: var(--secondary_active_bg);
    --button-same_hover_color: var(--secondary_same_hover_bg);
    --button-same_active_color: var(--secondary_same_active_bg);
}

.um-Button_size-s {
    height: var(--inline-height-s);
}

.um-Button-circle {
    justify-content: center;
    align-items: center;
}

.um-Button_size-s-circle {
    width: var(--inline-height-s);
}

.um-Button_icon_size-s {
    width: calc(var(--inline-height-s) - 2px);
    height: calc(var(--inline-height-s) - 2px);
}

.um-Button_size-s-button {
    padding: 0 calc(var(--inline-height-s) / 2);
}

.um-Button_size-s::before {
    content: "\200b";
    line-height: calc(var(--inline-height-s) - 2px);
}

.um-Button_size-s .um-Button_icon::before {
    font-size: var(--font-size-s);
}

.um-Button_size-m {
    height: var(--inline-height-m);
}

.um-Button_size-m-circle {
    width: var(--inline-height-m);
}

.um-Button_icon_size-m {
    width: calc(var(--inline-height-m) - 2px);
    height: calc(var(--inline-height-m) - 2px);
}

.um-Button_size-m-button {
    padding: 0 calc(var(--inline-height-m) / 2);
}

.um-Button_size-m::before {
    content: "\200b";
    line-height: calc(var(--inline-height-m) - 2px);
}

.um-Button_size-m .um-Button_icon::before {
    font-size: var(--font-size-m);
}

.um-Button_size-l {
    height: var(--inline-height-l);
}

.um-Button_size-l-circle {
    width: var(--inline-height-l);
}

.um-Button_icon_size-l {
    width: var(--inline-height-m);
    height: var(--inline-height-m);
}

.um-Button_size-l-button {
    padding: 0 calc(var(--inline-height-l) / 2);
}

.um-Button_size-l .um-Button_icon::before {
    font-size: var(--font-size-l);
}

.um-Button_size-l::before {
    content: "\200b";
    line-height: calc(var(--inline-height-l) - 2px);
}

.um-Button_icon {
    order: 2;
}

.um-Button_caption {
    color: var(--text_color);
}

.um-Button_caption-position-end {
    order: 3;
}

.um-Button_caption-position-start {
    order: 1;
}

.um-Button_caption-padding-start {
    padding-right: var(--padding-s);
}

.um-Button_caption-padding-end {
    padding-left: var(--padding-s);
}
