.um-InputBlock {
    display: flex;
}

.um-InputBlock_textarea {
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--unaccented_border_color);
    height: 50px;
    font-size: var(--font-size-m);
    margin-right: var(--padding-st);
    resize: none;
    flex-grow: 1;
    background: var(--bg);
}

.um-InputBlock_textarea:focus {
    border-block-color: var(--unaccented_active_border_color);
}

.um-InputBlock_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-s);
}
