.Message {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.Message_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 1px;
  overflow-y: scroll;
  margin-right: -13px;
}

.Message_cloud {
  padding: 7px 5px;
  border-radius: 7px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  position: relative;
  max-width: 200px;
  width: 200px;
}

.Message_cloud_style-bot {
  background-color: #76341230;
  text-align: left;
}

.Message_cloud_style-user {
  background-color: #89898930;
  text-align: right;
  align-self: end;
}

.Message_cloud_text {
}

.Message_cloud_date {
  color: #898989;
  font-size: 10px;
  position: absolute;
  bottom: 1px;
  left: 4px;
}

.Message_cloud_style-bot .Message_cloud_date {
  left: unset;
  right: 4px;
}

.Message_buttons-block {
  position: absolute;
  bottom: 5px;
  display: flex;
  gap: 6px;
  right: 6px;
}
