.Panel {
  width: var(--panel_width);
  height: var(--panel_height);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px 12px 6px 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Panel_header {
  height: 50px;
  text-align: center;
  display: flex;
  background-color: var(--panel_header_bg);
  flex-shrink: 0;
}

.Panel_header-caption {
  color: var(--contrast_text_color);
  font-size: 18px;
  padding: 0 12px;
  margin: auto;
}

.Panel_header_close {
  width: 24px;
  height: 24px;
  margin: auto 5px;
  background: #BCBEC070;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.Panel_header_close:hover {
  background: #BCBEC080;
}

.Panel_header_close:active {
  background: #BCBEC090;
}

.Panel_content {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

.Panel_footer {
  height: 56px;
  border-top: 1px solid var(--border_color);
  padding: 3px 6px;
  align-items: center;
  flex-shrink: 0;
}
